
body{

    margin: 0;
    padding: 0;
    border: 0;
    
}





.topp{

    margin: 0%;
    background-color: antiquewhite  ;
    border: 1px solid black;
    padding-bottom: 1%;
    padding-left: 1%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    

}







.tabs-container {
    width: 100%;
    margin-top: 20px;
}

textarea{

    width: 100%;
    height: auto;
    overflow-y: none;
    resize: none;
    border-right: 1%;

}


.tab {

    height: auto;
    width: 45%;
    float: left;
    margin-left: 0.5%;
    margin-bottom: 1%;
    padding: 10px;  
    background-color: #f1f1f1;
    margin-right: 10px;
    padding-right: 1.3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}